@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #303030;
  --primary-purple: rgba(37, 34, 227, 0.70);
  --primary-blue: #369fff;
  --card-blue: rgba(54, 159, 255, 0.10);
  --station-blue: #3b82f6;
  --station-green: #8ac53e;
  --station-orange: #ff993a;
  --station-yellow: #ffd143;
  --chart-purple: #6f21d1;
  --text-gray: #8ea3b7;
  --bg-light: #f5f5f5;
  --bg-card: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-purple: var(--primary-purple);
  --color-primary-blue: var(--primary-blue);
  --color-card-blue: var(--card-blue);
  --color-station-blue: var(--station-blue);
  --color-station-green: var(--station-green);
  --color-station-orange: var(--station-orange);
  --color-station-yellow: var(--station-yellow);
  --color-chart-purple: var(--chart-purple);
  --color-text-gray: var(--text-gray);
  --color-bg-light: var(--bg-light);
  --color-bg-card: var(--bg-card);
  --font-sans: var(--font-manrope);
  --font-header: var(--font-roboto);
  --font-chart: var(--font-marcellus);
}

body {
  background: var(--bg-light);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
